body {
  background-color: #f4ffd9 !important;
}

.container {
  padding: 10px;
}
.app-title {
  text-align: center;
  background-color: #fff78a;
  padding: 15px 50px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.todo-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.task-main-container {
  height: 355px;
  overflow-y: scroll;
}
.task-main-container::-webkit-scrollbar {
  width: 5px;
}
